*.sln
*.csproj
Library/*
ProjectSettings/*
Temp/*
.vs/
obj/*
Exe/*
bkup/*
inputSet/**/inputObj/*
csgcommandlinetool/pool/*_*
csgcommandlinetool/*.bat
!csgcommandlinetool/@.bat
!csgcommandlinetool/^.bat
!csgcommandlinetool/_.bat
csgcommandlinetool/*.txt